<%= form_for(@produto) do |f| %>
  <% if @produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produto.errors.count, "erro") %> proibiu/proibiram este produto de ser salvo:</h2>

      <ul>
      <% @produto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, (["Pendente", "Em Andamento", "Concluído"]) %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.select :user_id, @users.collect { |u| [ u.name, u.id]} %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.select :category_id, @categories.collect { |c| [ c.name, c.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
