<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @produto.name %>
</p>

<p>
  <b>Descrição:</b>
  <%= @produto.description %>
</p>

<p>
  <b>Status:</b>
  <%= @produto.status %>
</p>

<p>
  <b>Usuário:</b>
  <%= @produto.user.name %>
</p>

<p>
  <b>Categoria:</b>
  <%= @produto.category.name %>
</p>

<p>
  <b>Criado:</b>
  <%= @produto.created_at.strftime("%d/%m/%Y - %H:%M") %>
</p>


<%= link_to 'Editar', edit_produto_path(@produto) %> |
<%= link_to 'Voltar', produtos_path %>
